<%- include('_header.ejs') %>
<% if(message == "false") { %>
  <script type="text/javascript">
    alert("이미 아이디가 존재합니다");
  </script>
<% } %>
<h1>Sign up</h1>
<form action="/signup" method="post">
  <input name="username" type="text" class="form-control" placeholder="Username" required autofocus />
  <input name="email" type="text" class="form-control" placeholder="email" />
  <input name="password" type="password" class="form-control" placeholder="Password" required />
  <input type="submit" value="Sign up" class="btn btn-primary btn-block" />
</form>



<h1>Write Lists</h1>
<form action="/content" method="post">
  <input name="title" type="text" class="form-control" placeholder="타이틀"  autofocus />
  <input name="author" type="text" class="form-control" placeholder="글쓴이"  />
  <textarea name="desc" type="text" class="form-control"  ></textarea>
  <input type="submit" value="Sign up" class="btn btn-primary btn-block" />
</form>


  <%- include('_footer.ejs') %>